.home-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recent-posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Duas colunas */
  gap: 20px;
  width: 75%;
  max-width: 1200px;
}

.issue-item {
  text-decoration: none;
  color: #333;
  background-color: #ffe3e3;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.issue-item:hover {
  text-decoration: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.issue-item a {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.issue-item p {
  color: #555;
  font-size: 14px;
  margin-top: 10px;
}

.issue-item .issue-meta {
  margin-top: 10px;
  color: #888;
  font-size: 12px;
}
